# Archivos sensibles
.env
token.json
credentials.json
service_account.json

# Cachés de whatsapp-web.js
.wwebjs_auth/
.wwebjs_cache/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Otros
.DS_Store
Thumbs.db
